<h1 class="center">The <i>only</i> news you can trust.</h1>

<% if flash[:success] %>
  <div class="center">
     <h3 style="color: green"><%= flash[:success] %></h3>
  </div>
<% end %>

<%= @submissions.map do |submission| %>
	<div class="col s12 m7">
	   <div class="card horizontal">
	      <div class="card-image">
				    <div style="margin-top:45px;">
    					<%= link_to submission_path(submission) do %>
    	        	<%= image_tag submission.image, size: "130" %>
    					<% end %>
					  </div>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <span class="flow-text"><h5><%= link_to submission.title, submission_path(submission) %></h5></span>
	        </div>
	        <div class="card-action">
	          <%= link_to "click here", submission_path(submission) %>  <%= "Score: #{Vote.where(:submission_id => submission.id).sum(:upvote)}" %>
	        </div>
	      </div>
	    </div>
  </div>
<% end %>

<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <p><%= link_to "Sign up now!", signup_path %></p>
  <% end %>
</div>
