<h1>Edit Profile</h1>
<% if flash[:success] %>
  <%= flash[:success] %>
 <% elsif flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit 'Update' %>
<% end %>
