<div class="container">
  <h3>Sign Up!</h3>
  <br>
  <%= form_for(@user) do |f| %>
    <p>
      <i class="material-icons prefix">account_circle</i><%= f.label :name, :style => 'margin-left:5px;font-size:28px;' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <i class="material-icons prefix">account_circle</i><%= f.label :username, :style => 'margin-left:5px;font-size:28px;' %>
      <%= f.text_field :username %>
    </p>
    <p>
      <i class="material-icons prefix">verified_user</i><%= f.label :password, :style => 'margin-left:5px;font-size:28px;' %>
      <%= f.password_field :password %>
    </p>
    <p>
      <i class="material-icons prefix">verified_user</i><%= f.label :password_confirmation, :style => 'margin-left:5px;font-size:28px;' %>
      <%= f.password_field :password_confirmation %>
    </p>
    <%= f.submit 'Sign Up', :class => 'btn waves-effect waves-light', :style => 'margin-bottom: 20px;' %>
    <br>
  <% end %>
</div>
