<h1>Edit Submission</h1>

<ul>
	<% @submission.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
</ul>

<%= form_for @submission do |f| %>
	<%= f.label :title %>:
	<%= f.text_field :title %>
	<%= f.label :url %>
	<input disabled value="I am not editable" id="disabled" type="text" class="validate">
	<%= f.label :description %>:
	<%= f.text_field :description %>
	<%= f.submit 'Update/Save'%>
<% end %>