<h1>Submissions</h1>

<%= @submissions.map do |submission| %>
	<div class="row">
		<div class="col s2" style="padding-top: 18px;">
				<%= image_tag submission.image, :class => "responsive-img" %>
			</div>
		<div class="col s10">
			<ul>
				<li>Score: <%= Vote.where(:submission_id => submission.id).sum(:upvote) %></li>
				<li><span class="flow-text"><%= link_to submission.title, submission_path(submission) %></span></li>
				<li><span class="flow-text"><%= submission.description %></span></li>
			</ul>
		</div>
	</div>
<% end %>
