<% @submissions.map do |submission| %>
	<div class="col s12 m7">
	    <div class="card horizontal">
	      <div class="card-image">
					<div style="margin-top:45px;">
					<%= link_to submission_path(submission) do %>
	        	<%= image_tag submission.image, :class => "responsive-img" %>
					<% end %>
					</div>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <span class="flow-text">
							<h4><%= link_to submission.title, submission_path(submission) %></h4>
							<%= submission.description %></span>
	        </div>
	        <div class="card-action">
	          <%= link_to "click here", submission_path(submission) %>   <%= "Score: #{Vote.where(:submission_id => submission.id).sum(:upvote)}" %>
	        </div>
	      </div>
	    </div>
	  </div>
	<% end %>
