<h1>New Submission</h1>

<ul>
	<% @submission.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
</ul>

<%= form_for @submission do |f| %>
	<%= f.label :url %>:
	<%= f.text_field :url %>
	<p><%= f.submit :class => 'btn waves-effect waves-light' %></p>
	<br>
<% end %>
