<h2><%= link_to @submission.title, @submission.url, target: :_blank %></h2>
<div class="divider"></div><br>
<%= image_tag @submission.image, :class => "responsive-img" %>
<h5 class="flow-text"><%= @submission.description %></h4><br>

  <% if logged_in? %>
<div>
  <div class="left" style="margin-right:10px;">
    <%= link_to 'Edit News', edit_submission_path, :class => 'btn waves-effect waves-light' %>
  </div>
  <div>
    <%= button_to 'Delete', @submission, controller: 'submissions', action: 'destroy', method: 'delete', :class => 'btn waves-effect waves-light' %>
  </div>
</div>
  <% end %>

<br><br><div class="divider"></div><br>

<% if logged_in? %>


<h2 class="center">Vote or you're a dope!</h2>
<div class="container">
  <div class="row">
    <div class="col s1">
    </div>
    <div class="thumbsup col s3">
      <%= link_to "http://localhost:3000/votes/#{@submission.id}_1", method:"post" do  %>
        <%= image_tag 'thumbsup.png', size: '125' %>
      <% end %>
    </div>
    <div class="score center col s3">
      Score<br> <%= @votes %>
    </div>
    <div class="col s1">
    </div>
    <div class="thumbsdown col s3">
      <%= link_to "http://localhost:3000/votes/#{@submission.id}_-1", method:"post" do  %>
        <%= image_tag 'thumbdown.png', size: '125' %>
      <% end %>
    </div>
  </div>
  <% if flash[:notice] %>
  <div class="center" style="color:green;">
    <h4><%= flash[:notice]%></h4>
  </div>
  <% end %>
</div>

<br><br><div class="divider"></div><br>

<h3>What do you think?</h3>

  <%= form_for @comment do |f| %>
    <%= f.label :body %>:
    <%= f.text_area(:body, size: '50x10') %>
    <%= f.hidden_field :submission_id, value: @submission.id %>
    <p><%= f.submit :class => 'btn waves-effect waves-light' %></p>
    <br>
  <% end %>
<% else %>
  <h3>What do you think?</h3>
  <div class="left">
    <%= button_to "Log in", login_path, :class => 'btn waves-effect waves-light left', :style => "margin-right:20px;" %>
  </div>
  <div>
    <%= link_to "Sign up now!", signup_path, :class => 'btn waves-effect waves-light' %>
  </div>
<% end %>


<br><div class="divider"></div><br>

<h3>What everybody else thinks:</h3>
<% @submission.comments.each do |comment| %>
    <div class="row">
       <div class="col s12 m6">
         <div class="card blue-grey darken-1">
           <div class="card-content white-text">
             <span class="card-title"><b><%= comment.user.username %> (<i><%= time_ago_in_words(comment.created_at) %>)</i></b></span>
             <%= comment.body %>
           </div>
         </div>
       </div>
     </div>
<% end %>
