
<h2><%= link_to @submission.title, @submission.url, target: :_blank %></h1>
<%= image_tag @submission.image, :class => "responsive-img" %>
<h5><%= @submission.description %></h4>

<%= link_to 'Edit', edit_submission_path  %>
<% if logged_in? %>
  <%= link_to 'Delete', @submission, controller: 'submissions', action: 'destroy', method: 'delete' %>
<% end %>

<h2 class="center">Vote or you're a dope!</h2>
<div class="container">
  <div class="row">
    <div class="col s1">
    </div>
    <div class="thumbsup col s3">
      <%= link_to "http://localhost:3000/votes/#{@submission.id}_1", method:"post" do  %>
        <%= image_tag 'thumbsup.png', size: '125' %>
      <% end %>
    </div>
    <div class="score center col s3">
      Score<br> <%= @votes %>
    </div>
    <div class="col s1">
    </div>
    <div class="thumbsdown col s3">
      <%= link_to "http://localhost:3000/votes/#{@submission.id}_-1", method:"post" do  %>
        <%= image_tag 'thumbdown.png', size: '125' %>
      <% end %>
    </div>
  </div>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<h1>Create a comment</h1>
<%= form_for @comment do |f| %>
  <%= f.label :body %>:
  <%= f.text_area(:body, size: '50x10') %>
  <%= f.hidden_field :submission_id, value: @submission.id %>
  <p><%= f.submit :class => 'btn waves-effect waves-light' %></p>
  <br>
<% end %>

<h1>Comments</h1>
<ul>
<% @submission.comments.each do |comment| %>
  <div>
    <li><b><%= comment.user.username %></b> (<i><%= time_ago_in_words(comment.created_at) %>)</i><br> <b>Comment:</b> <%= comment.body %></li><br>
  </div>
<% end %>
</ul>
