<h2><%= link_to @submission.title, @submission.url, target: :_blank %></h2>

<div class="divider"></div><br>
<%= image_tag @submission.image, :class => "responsive-img" %>

<h5 class="flow-text"><%= @submission.description %></h4><br>

<% if logged_in? %>
  <div>
    <div class="left" style="margin-right:10px;">
      <%= link_to 'Edit News', edit_submission_path, :class => 'btn waves-effect waves-light' %>
    </div>
    <div>
      <%= button_to 'Delete', @submission, controller: 'submissions', action: 'destroy', method: 'delete', :class => 'btn waves-effect waves-light' %>
    </div>
  </div>
<% end %>

<br><br><div class="divider"></div><br>

<% if logged_in? %>

  <div class="row">
     <div class="col s6">
       <h4>What do you think?</h4>
         <%= form_for @comment do |f| %>
           <%= f.label :body %>:
           <%= f.text_area(:body, size: '50x10') %>
           <%= f.hidden_field :submission_id, value: @submission.id %>
           <p><%= f.submit :class => 'btn waves-effect waves-light' %></p>
           <br>
         <% end %>
       <% else %>
         <h3>What do you think?</h3>
         <div class="left">
           <%= button_to "Log in", login_path, :class => 'btn waves-effect waves-light left', :style => "margin-right:20px;" %>
         </div>
         <div>
           <%= link_to "Sign up now!", signup_path, :class => 'btn waves-effect waves-light' %>
         </div>
       <% end %>
     </div>

   <div class="row">
     <h4 align="center">Vote: <%= @votes %></h4>
       <div class="row">
             <div class="thumbsup col s12 m6 l3 center">
               <%= link_to "/votes/#{@submission.id}_1", method:"post" do  %>
                 <%= image_tag 'thumbsup.png', size: '125' %>
               <% end %>
             </div>
             
             <div class="thumbsdown col s12 m6 l3 center">
               <%= link_to "/votes/#{@submission.id}_-1", method:"post" do  %>
                 <%= image_tag 'thumbdown.png', size: '125' %>
               <% end %>
             </div>
         </div>
         <% if flash[:notice] %>
          <div class="center" style="color:green;">
           <h4><%= flash[:notice]%></h4>
          </div>
         <% end %>
       
     </div>
   </div>

<% if @submission.comments.blank? %>
    <div class="row">
      <div class="col s12">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title center">Hey <i><%= current_user.name %></i>, there aren't any comments yet.</span>
            <h5 class="center">Why don't you write one?</h5>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <% @submission.comments.each do |comment| %>
    <ul class="collection">
      <li class="collection-item avatar">
        <%= image_tag("#{comment.user.image}", :class => "circle") %>
        <%= link_to(comment.user.username, "/users/#{comment.user.id}", :class => "title") %> (<i><%= time_ago_in_words(comment.created_at) %> ago) </i>
        <br><%= comment.body %>
      </li>
  </ul>
  <% end %>
<% end %>
